.App {
  text-align: center;
}

.App-header {
 
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input:hover {
  cursor: pointer;
}
.search-giphy {
  width: 20vw;
  padding: 10px 20px;
  margin: 1rem;
  text-align: center;
}
.giphy-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}
.giphy {
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
  opacity: 0.8;
  flex-wrap: wrap;
  align-items: center;
}
.giphy:hover {
  box-shadow: 2px 3px 4px 2px #094c6b;
  opacity: 1;
  cursor: pointer;
}
.title {
  font-size: 18px;
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
}
.btn {
  padding: 10px 20px;
  margin: 1.5rem;
  background: #ef987a;
}
.btn:hover{
  cursor: pointer;
  background: coral;
}